################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Domains.Tests/obj
/ShoppingBasket/obj
